<div class="container py-5 text-center tableclr">
    <h3 class="text-center">Member Details</h3>
    <br>
    <table class="table table-dark table-striped">
         <thead class="table-dark">
            <tr class="text-center">
                <th>Member Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date of birth</th>
                <th>Address</th>
                <th>State</th>
                <th>City</th>
            <!--<th>Claim</th>-->
                <th>Show claims</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of members">
                <td>{{s.id}}</td>
                <td>{{s.firstName}}</td>
                <td>{{s.lastName}}</td>
                <td>{{s.email}}</td>
                <td>{{s.dob | date:'d/M/yy'}}</td>
                <td >{{s.address}}</td>
                <td>{{s.state}}</td>
                <td>{{s.city}}</td>
              <!--  <td><a class="btn btn-info" (click)="openModal(s.id)">Submit</a></td> -->
                <td><a class="btn btn-success" (click)="showClaims(s.id)">Claims</a></td>
            </tr>
        </tbody>
    </table>
</div>


<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="card text-bg-info mb-3" style="width: 20rem;" *ngFor="let c of claims;index as i">
    <div class="card-header"><h3><b>Claim Details</b></h3></div>
    <div class="card-body">
      <p class="card-text"><b>Claim Id</b> {{c.claimId}}</p>
      <p class="card-text" *ngIf="c.claimType === 1"><b>Claim Type:</b> Vision</p>
      <p class="card-text" *ngIf="c.claimType === 2"><b>Claim Type:</b> Dental</p>
      <p class="card-text" *ngIf="c.claimType === 3"><b>Claim Type:</b> Medical</p>
      <p class="card-text"><b>Claim Date</b> {{c.claimDate | date:'d/M/yyyy'}}</p>
      <p class="card-text"><b>Claim Amount</b> {{c.claimAmount}}</p>
      <p class="card-text"><b>Remarks</b> {{c.remarks}}</p>
    </div>

</div>
</div>

<!--
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Submit Claim</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row-auto">
                    <label class="form-label">Claim Type </label>
                    <div class="col-auto">
                    <select class="select" type="number" [(ngModel)]=claim.claimType
                                                [ngModelOptions]="{standalone: true}" >
                                                <option value=1>Vision</option>
                                                <option value=2>Dental</option>
                                                <option value=3>Medical</option>
                    </select>
                    </div>
                </div>
                <br>
                <div class="row-auto">
                    <input type="text" class="form-control" [(ngModel)]=claim.claimAmount placeholder="Claim Amount"
                        aria-label="Claim Amount">
                </div>
                <br>
                <div class="row-auto">
                    <input type="date" class="form-control" [(ngModel)]=claim.claimDate placeholder="Claim Date"
                        aria-label="Claim Date">
                </div>
                <br>
                <div class="row-auto">
                    <textarea class="form-control" [(ngModel)]=claim.remarks placeholder="Remarks"
                        aria-label="Remarks"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="submitClaim()">Submit</button>
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>

-->


<!--
<div class="container">
    <table class="table table-light table-striped">
        <thead class="table-success">
           <tr class="text-center">
               <th>Claim Id</th>
               <th>Claim Amount</th>
               <th>Claim Type</th>
               <th>Claim Date</th>
               <th>Remarks</th>
               
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let c of claims">
               <td class="text-center">{{c.claimId}}</td>
               <td class="text-center">{{c.claimAmount}}</td>
               <td class="text-center" *ngIf="c.claimType === 1">Vision</td>
               <td class="text-center" *ngIf="c.claimType === 2">Dental</td>
               <td class="text-center" *ngIf="c.claimType === 3">Medical</td>
               <td class="text-center">{{c.claimDate | date:'d/M/yyyy'}}</td>
               <td>{{c.remarks}}</td>
    
           </tr>
       </tbody>
   </table>  
</div>
-->