<br>
<h2>Member Registration</h2>
<form>
  <div class="col-sm-10 offset-sm-1 ">
    <div class="row sm-3">
      <label class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" id="firstNameWithValidate" name="firstNameWithValidate" class="form-control"
          #firstNameWithValidate="ngModel" [(ngModel)]=member.firstName placeholder="First Name" aria-label="First Name"
          minlength="5" maxlength="20" required>
        <div *ngIf="firstNameWithValidate.touched">
          <p *ngIf="firstNameWithValidate.errors?.['required']">
            First Name is a Required field!
          </p>
          <p *ngIf="firstNameWithValidate.errors?.['minlength']">
            First Name must be at least 5 characters long.
          </p>
          <p *ngIf="firstNameWithValidate.errors?.['maxlength']">
            First Name must be 20 characters long.
          </p>
        </div>
        
      </div>
    </div>
    <br>
    <div class="row sm-3">
      <label class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" id="lastNameWithValidate" name="lastNameWithValidate" class="form-control"
          #lastNameWithValidate="ngModel" [(ngModel)]=member.lastName placeholder="Last Name" aria-label="Last Name"
          required>
        <div *ngIf="lastNameWithValidate.touched">
          <p *ngIf="lastNameWithValidate.errors?.['required']">
            Last Name is a Mandatory field!
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="row sm-3">
      <label class="col-sm-2 col-form-label">Date of Birth</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" [(ngModel)]=member.dob placeholder="Date of Birth"
          aria-label="Date of Birth">
      </div>
    </div>
    <br>
    <div class="row sm-3">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" id="emaileWithValidate" name="emaileWithValidate" class="form-control"
          #emaileWithValidate="ngModel" class="form-control" [(ngModel)]=member.email placeholder="Email"
          aria-label="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" required>
          <div *ngIf="emaileWithValidate.touched">
            <p *ngIf="emaileWithValidate.errors?.['required']">
              Email is a Mandatory field!
            </p>
            <p *ngIf="emaileWithValidate.errors?.['pathern']">
              This is an Invalid Email!
            </p>
          </div>
      </div>
    </div>
    <br>
    <div class="row sm-3">
      <label class="col-sm-2 col-form-label">Adress</label>
      <div class="col-sm-10">
        <input type="text" id="addressWithValidate" name="addressWithValidate"  #addressWithValidate="ngModel"
        class="form-control" [(ngModel)]=member.address placeholder="Address" aria-label="Address"
        maxlength="100" required>
          <div *ngIf="addressWithValidate.touched">
            <p *ngIf="addressWithValidate.errors?.['required']">
              Address is a Mandatory field!
            </p>
            <p *ngIf="addressWithValidate.errors?.['maxlength']">
              First Name must be 100 characters long.
            </p>
          </div>
      </div>
    </div>
    <br>
    <div class="row sm-3">
      <label class="col-sm-2 col-form-label">State</label>
      <div class="col-sm-10">
        <input type="text" id="stateWithValidate" name="stateWithValidate"  #stateWithValidate="ngModel" class="form-control"
         [(ngModel)]=member.state placeholder="State" aria-label="State"
          required>
          <div *ngIf="stateWithValidate.touched">
            <p *ngIf="stateWithValidate.errors?.['required']">
              State is a Mandatory field!
            </p>
          </div>
      </div>
    </div>
    <br>
    <div class="row sm-3">
      <label class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <input type="text" id="cityWithValidate" name="cityWithValidate"  #cityWithValidate="ngModel" class="form-control" [(ngModel)]=member.city placeholder="City" aria-label="City" required>
        <div *ngIf="cityWithValidate.touched">
          <p *ngIf="cityWithValidate.errors?.['required']">
            City is a Mandatory field!
          </p>
        </div>
      </div>
    </div>


    <br>
    <div class="col-12">
      <button type="button" class="btn btn-success" (click)="save()">Submit</button>
    </div>
  </div>
</form>