<!--<div class="container py-5 text-center tableclr">
    <h3 class="text-center">My Details</h3>
    <br>
    <table class="table table-dark table-striped">
         <thead class="table-dark">
            <tr class="text-center">
                <th>Member Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date of birth</th>
                <th>Address</th>
                <th>State</th>
                <th>City</th>
                <th>Claim</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of members">
                <td>{{s.id}}</td>
                <td>{{s.firstName}}</td>
                <td>{{s.lastName}}</td>
                <td>{{s.email}}</td>
                <td>{{s.dob | date:'d/M/yyyy'}}</td>
                <td >{{s.address}}</td>
                <td>{{s.state}}</td>
                <td>{{s.city}}</td>
                <td><a class="btn btn-info" (click)="openModalNew(s.id)">Submit</a></td>
            </tr>
        </tbody>
    </table>
</div> -->


<br>


<div class="container-md my-6 bg-info text-white" *ngFor="let c of members">
    <div class="mt-2 p-3 bg-black text-white rounded">
    <h2><b>{{c.firstName}} {{c.lastName}}</b></h2>
    <h5><b>{{c.email}}</b></h5>
    <p><b>Date of birth : {{c.dob | date:'d/M/yyyy'}}</b></p>
    <p><b>Address : {{c.address}} {{c.state}} {{c.city}}</b></p>
    <p class="btn btn-success" (click)="openModalNew(c.id)" ><b>Submit Claim</b></p>
</div>
</div>
   <!--<div class="col-md-8">
<div class="card text-bg-info mb-3" style="max-width: 540px;" *ngFor="let c of members">
    <div class="card-header"><b>{{c.firstName}} {{c.lastName}}</b></div>
    <div class="card-body">
      <h5 class="card-title"><b>{{c.email}}</b></h5>
      <p class="card-text"><b>Date of birth : {{c.dob | date:'d/M/yyyy'}}</b></p>
      <p class="card-text"><b>Address : {{c.address}} {{c.state}} {{c.city}}</b></p>
      <p class="btn btn-success" (click)="openModalNew(c.id)" ><b>Submit Claim</b></p>
    </div>
</div>
 
</div>--> 

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Submit Claim</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row-auto">
                    <label class="form-label">Claim Type </label>
                    <div class="col-auto">
                    <select class="select" type="number" [(ngModel)]=claim.claimType
                                                [ngModelOptions]="{standalone: true}" >
                                                <option value=1>Vision</option>
                                                <option value=2>Dental</option>
                                                <option value=3>Medical</option>
                    </select>
                    </div>
                </div>
                <br>
                <div class="row-auto">
                    <input type="text" class="form-control" [(ngModel)]=claim.claimAmount placeholder="Claim Amount"
                        aria-label="Claim Amount">
                </div>
                <br>
                <div class="row-auto">
                    <input type="date" class="form-control" [(ngModel)]=claim.claimDate placeholder="Claim Date"
                        aria-label="Claim Date">
                </div>
                <br>
                <div class="row-auto">
                    <textarea class="form-control" [(ngModel)]=claim.remarks placeholder="Remarks"
                        aria-label="Remarks"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="submitClaim()">Submit</button>
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>
