<br>
<form>
      <h2>Member Search</h2>
      <br>
    <div class="row mb-3 offset-sm-1">
        <label for="memberId" class="col-sm-2 col-form-label">Search By Member Id</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" [(ngModel)]=searchMember.memberId
                [ngModelOptions]="{standalone: true}" placeholder="Enter Member Id" aria-label="Enter Member Id">
        </div>
    </div>

    <div class="row mb-3 offset-sm-1">
        <label for="name" class="col-sm-2 col-form-label">Search By Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" [(ngModel)]=searchMember.firstName
                [ngModelOptions]="{standalone: true}" placeholder="Enter First Name" aria-label="Enter First Name">
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" [(ngModel)]=searchMember.lastName
                [ngModelOptions]="{standalone: true}" placeholder="Enter Last Name" aria-label="Enter Last Name">
        </div>
    </div>

    <div class="row mb-3 offset-sm-1">
        <label for="inputEmail" class="col-sm-2 col-form-label">Search By Physician Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]=searchMember.physicianName
                [ngModelOptions]="{standalone: true}" placeholder="Enter Physician Name"
                aria-label="Enter Physician Name">
        </div>
    </div>

    <div class="row mb-3 offset-sm-1">
        <label for="inputEmail" class="col-sm-2 col-form-label">Search By Claim Id</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" [(ngModel)]=searchMember.claimId
                [ngModelOptions]="{standalone: true}" placeholder="Enter Claim Id" aria-label="Enter Claim Id">
        </div>
    </div>

    <div class="row mb-3 offset-sm-1">
        <div class="col-sm-2 offset-sm-1">
            <button type="button" class="btn btn-success" (click)="searchMembers()">Search</button>
        </div>
    </div>
</form>



<br>
<div class="row row-cols-1 row-cols-md-3 g-4"></div>
<div class="card text-bg-info mb-3" style="width: 20rem;" *ngFor="let c of members;index as i">
    
    <div class="card-header"><h3><b>{{c.firstName}} {{c.lastName}}</b></h3></div>
    <div class="card-body">
      <h5 class="card-title"><b>{{c.email}}</b></h5>
      <p class="card-text"><b>Date of birth :</b> {{c.dob | date:'d/M/yyyy'}}</p>
      <p class="card-text"><b>Address :</b> {{c.address}} {{c.state}} {{c.city}}</p>
      <p class="card-text"><b>Physician Name :</b> {{c.physicianName}}</p>
      <p class="btn btn-success" (click)="openModalNew(c.id)" ><b>Submit Claim</b></p>
    </div>

</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Submit Claim</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row-auto">
                    <label class="form-label">Claim Type </label>
                    <div class="col-auto">
                    <select class="select" type="number" [(ngModel)]=claim.claimType
                                                [ngModelOptions]="{standalone: true}" >
                                                <option value=1>Vision</option>
                                                <option value=2>Dental</option>
                                                <option value=3>Medical</option>
                    </select>
                    </div>
                </div>
                <br>
                <div class="row-auto">
                    <input type="text" class="form-control" [(ngModel)]=claim.claimAmount placeholder="Claim Amount"
                        aria-label="Claim Amount">
                </div>
                <br>
                <div class="row-auto">
                    <input type="date" class="form-control" [(ngModel)]=claim.claimDate placeholder="Claim Date"
                        aria-label="Claim Date">
                </div>
                <br>
                <div class="row-auto">
                    <textarea class="form-control" [(ngModel)]=claim.remarks placeholder="Remarks"
                        aria-label="Remarks"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="submitClaim()">Submit</button>
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>
